.bottom-card{
    position: relative;
    left: 270px;
    bottom:100px;
    width: 280px;
    height: 250px;
    overflow: hidden;
}
.bottom-card2{
    position: relative;
    left: 600px;
    bottom:350px;
    width: 600px;
    height: 250px;
    overflow: hidden;
}
.chart-div{
    position: relative;
    left: 250px;
    bottom: 200px;
}