.toolkit{
    position: relative;
    top: 50px;
    
}
.general-div{
    position: relative;
    top: 10px;
    overflow: hidden;
    
}
.management-div{
    position: relative;
    top: 10px;
    overflow: hidden;    
}
.icons{
    width: 50px;
    height: 30px;
    position: relative;
    left: 10px;
}
.gen-head{
    position: relative;
    left: 20px;
}
.icons-text{
    position: relative;
    left:10px
}
.man-head{
    position: relative;
    left: 20px;
}